- name: Install MySQL on DB server
  hosts: all
  become: true

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install MySQL
      apt:
        name: mysql-server
        state: present

    - name: Ensure MySQL is running
      service:
        name: mysql
        state: started
        enabled: true